@charset "utf-8";
body{
    font-family: "Rubik";
}
.social-icons {
    display: flex;
    margin-top: 10px;
  }
  .social-icons a {
    margin: 0 2px;
  }
   
  .social-icons img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
  }
   
  .social-icons a:hover img {
    transform: scale(1.2);
  }
  .logo{
    display: flex;
    justify-content: center;
  }
  .logo img{
    width: 350px;
    margin-bottom: -20px;
    margin-top: -50px;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: "Rubik";
    letter-spacing: 1px;
   }
   
   nav li {
    display: inline;
    margin-right: 10px;
    margin-top: -20px
   }
   
   nav a {
    text-decoration: none;
    color: #b68963;
    font-size: 16px;
   }
   
   nav a:hover {
    color: #E4D5C8;
   }
   .item-img img{
    width: 100%;
    max-width: 500px;
    max-height: 490px;
}
.item-body p{
    font-size: 16px;
    color: rgb(81, 114, 149);
    line-height: 1;
    font-weight: bold;
    font-family: "Rubik";
}

.items-flex{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.items-flex .item{
    width: 50%;
    margin: 30px;
}
h2{
    color: #ba4745;
    font-family: "Rubik";
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;

}
hr{
    border-color: rgba(33, 33, 33, 0.12);
}
.footer{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 50px;
}
.footer img{
    width: 50px;
    padding-left: 90px;
}
h3{
    color: rgba(33, 33, 33, 0.8);
    font-size: 9px;
    letter-spacing: 2px;
}